form {
  display: flex;
  height: 4rem;
}

form input {
  width: 40rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  font-family: sans-serif;
}

form button {
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 5rem;
  background-color: #00b894;
  cursor: pointer;
}
